.header {
  margin: 20pxs;
}

.days {
  display: flex;
  gap: 20px;
  border: 1px solid rgb(6, 14, 255);
  padding: 20px;
}

/* .days > div > p:hover {
    background-color: red;
  } */
.test {
  background-color: greenyellow;
}

h3 {
  font-size: 1.8rem;
}
.tip {
  color: rgb(191, 146, 233);
  font-size: 0.8rem;
}

.opac {
  opacity: 0.4;
}

.falseTest {
  background-color: blue;
}

.box {
  background-color: rgb(15, 11, 22);
  margin-top: 20px;
  padding: 0.5rem;
  color: white;
}

.btn {
  width: 5rem;
  height: 2rem;
  background-color: rgb(146, 164, 245);
  cursor: pointer;
  color: black;
  font-weight: 700;
  margin-top: 2rem;
}

.innerBox {
  margin-right: 20px;
  text-align: right;
  color: white;
}

.exitButton {
  cursor: pointer;
  justify-content: flex-end;
  display: flex;
  color: rgb(255, 0, 0);
  font-weight: 700;
  font-size: 1.5rem;
  transition: font-size 1s;
}

.exitButton:hover {
  font-size: 1.7rem;
}

.exitButton:active {
  font-size: 1.8rem;
}
