.container {
  display: flex;
  /* padding: 1rem; */
  margin-left: 20px;
  margin-top: -2.6rem;
  gap: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.income {
  font-size: 1.5rem;
}

