.App {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .App-header {
    background-color: lightblue;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000512;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date {
  justify-content: flex-end;
  display: flex;
  background-color: #000512;
  color: white;
  padding-right: 40px;
  padding-top: 20px;
  font-family: sans-serif;
}

.time {
  font-size: 20px;
}
