.App {
  text-align: center;
}
@media only screen and (max-width: 600px) {
  .App-header {
    background-color: lightblue;
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #000512;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.date {
  justify-content: flex-end;
  display: flex;
  background-color: #000512;
  color: white;
  padding-right: 40px;
  padding-top: 20px;
  font-family: sans-serif;
}

.time {
  font-size: 20px;
}

.input {
  width: 19.5rem;
  height: 5rem;
  border: 2px solid rgb(61, 61, 255);
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: 400;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.label {
  color: rgb(78, 78, 246);
  font-size: 4rem;
}

.btn {
  width: 20rem;
  height: 5rem;
  margin-top: 10px;
  background-color: #0f13ff;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn:hover {
  opacity: 0.8;
}
.wrong {
  color: red;
}
